.hero {
    background-image:linear-gradient(to right bottom, rgba(12, 12, 53, 0.308), rgba(0, 0, 0, 0.418)), url("<%= asset_path('hero-banner.png') %>");
    background-position: center;
    background-size: cover;

}